In [1]:
#Arrays, mutable
items = [1,"sharon", "cherotich"]
items[0]

1

In [6]:
#Tuples, no changes, cannot be assigned
x = (1, 2, 3, 5)
x[3]
#len(x)
x.count(5)

1

In [7]:
X = (1, 2, 4, 6) * 5
X

(1, 2, 4, 6, 1, 2, 4, 6, 1, 2, 4, 6, 1, 2, 4, 6, 1, 2, 4, 6)

In [10]:
aTuple = ("Orange")
print(type(aTuple))

<class 'str'>

In [11]:
aTuple = "Yellow", 20, "Red"
a, b, c = aTuple

c

'Red'

In [13]:
alist = [10,20,30,40,50,60,70,80]
print(alist[2:5])
print(alist[:4])
print(alist[3:])

[30, 40, 50]
[10, 20, 30, 40]
[40, 50, 60, 70, 80]

In [15]:
alist = [10,20,30,40,50,60,70,80]
alist[1:3] = [7,8]
print(alist)

[10, 7, 8, 40, 50, 60, 70, 80]

In [18]:
list1=[2,8,7]

Loops: For & While

In [28]:
list1 = 0
for i in range(1, 100):
  if (i % 3 == 0) & (i % 5 == 0):
    list1 += i
print(list1)

315

In [29]:
for i in range(1, 100):
  if (i % 3 == 0) & (i % 5 == 0):
    print(i)

15
30
45
60
75
90

In [73]:
list3 = [7, -2, 5, 4, 4, 3, -1, -2, -3, -5, -7]
total1 = 0
for i in list3:
  if i > 0:
    total1 += i

print(total1)

23

In [76]:
list4 = [7, -2, 5, 4, 4, 3, -1, -2, -3, -5, -7]
total2 = 0
i = 0
while list4[i] > 0:
  if list4[i] < 0:
    continue
  total2 +=list4[i]
  i +=1
print(total2)

7

In [68]:
big_number_list = [1, 2, -1, 4, -5, 5, 2, -9]

# Print only positive numbers:
for i in big_number_list:
  if i < 0:
    continue
  print(i)

1
2
4
5
2

In [59]:
list4 = [7, -2, 5, 4, 4, 3, -1, -2, -3, -5, -7]
total2 = 0
i = 0
while True:
  total2 +=list4[i]
  i +=1
  if list4[i] < 0:
    print(total2)

7
21
20
18
15
10

IndexError: list index out of range

In [63]:
for i in range (5, 15, 4):
  print (i, end=', ')

5, 9, 13,

In [81]:
for num in range(5,0,-2):

  print(num, end = ",")

5,3,1,

In [78]:
numbers = [10, 20]
items = ["Chair", "Table"]
for x in numbers:
    for y in items:
        print(x, y)

10 Chair
10 Table
20 Chair
20 Table

In [90]:
i =0
while i < 100:
  i+=2
print(i)

100

In [87]:
x = ["ab", "cd"]
for i in x:
  i.upper()
print(x)

['ab', 'cd']

In [2]:
def say(message, times = 1):
  print(message*times)
say('Hello')
say('world', 5)

Hello
worldworldworldworldworld

In [88]:
x = "fam"
for i in x:
  print(i.upper())

F
A
M

In [91]:
for num in range(10,14):
  for i in range (2, num):
    if num%i == 1:
      print(num)
      break

10
11
12
13

In [92]:
d = {"john":20, "sharo":45}
print(list(d.keys()))

['john', 'sharo']

In [99]:
d = {"john":40, "peter":45, 40:"shddj"}
d[40]

'shddj'

In [100]:
d={}

In [101]:
var = 10
for i in range(10):
  for j in range(2, 10, 1):
    if var % 2 == 0:
      continue
    var +=1
  var +=1
else:
  var +=1
print(var)

30

In [1]:
x = 0
a = 0
b = -5
if a>0:
  if b<0:
    x +=5
  elif a>5:
    x +=4
  else:
    x +=3
else:
  x +=2
print(x)

2

In [24]:
import numpy as np
a = np.array([[1,2,3], [0,1,4]])
print(a.ndim)
b = list(a)
print(b)
print(type(a))
print(a.dtype)
print(a.size)

2
[array([1, 2, 3]), array([0, 1, 4])]
<class 'numpy.ndarray'>
int32
6

In [23]:
a=np.zeros(6)
b=np.arange(0,10,2)
c=a+b
print(c[4])

ValueError: operands could not be broadcast together with shapes (6,) (5,)

In [45]:
# This is a demo task.
# Write a function:
# def solution(A)
# that, given an array A of N integers, returns the smallest positive integer (greater than 0) that does not occur in A.
# For example, given A = [1, 3, 6, 4, 1, 2], the function should return 5.
# Given A = [1, 2, 3], the function should return 4.
# Given A = [−1, −3], the function should return 1.
# Write an efficient algorithm for the following assumptions:
# N is an integer within the range [1..100,000];
# each element of array A is an integer within the range [−1,000,000..1,000,000].
                                                     
#def solution(A) for n in range(−1000000, 1000000, 1):
def solution(A):
  for i in A

SyntaxError: invalid character '−' (U+2212) (2325842784.py, line 12)

In [48]:
# you can write to stdout for debugging purposes, e.g.
# print("this is a debug message")

def solution(A):
    A = sorted(set(filter(lambda x: x > 0, A)))
    if not A or A[0] > 1:
        return 1
    for i in range(1, len(A)):
        if A[i] - A[i-1] > 1:
            return A[i-1] + 1
    return A[-1] + 1

B = [1, 5, 7, 8]
print(solution(B))
    
    # Implement your solution here
    #pass

2

In [49]:
def solution(A):
    A = sorted(set(x for x in A if x >0))
    if not A or A[0] > 1:
        return 1
    for i in range(1, len(A)):
        if A[i] - A[i-1] > 1:
            return A[i-1] + 1
    return A[-1] + 1

B = [1, 5, 7, 8]
print(solution(B))
print(solution(B))

2

In [5]:
numbers = [1, 2, 3, 4, 1, 5, 7, 9, 3]

# list comprehension to create new list
doubled_numbers = [num * 2 for num in numbers]

print(doubled_numbers)

[2, 4, 6, 8, 2, 10, 14, 18, 6]

In [6]:
numbers = [1, 2, 3, 4, 1, 5, 7, 9, 3]
doubled_numbers = []

for num in numbers:
    doubled_numbers.append(num*2)
    
print(doubled_numbers)

[2, 4, 6, 8, 2, 10, 14, 18, 6]

In [16]:
# find even numbers that are divisible by 5
num_list = [y for y in range(100) if y % 2 == 0 and y % 5 == 0]

print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [12]:
# find even numbers that are divisible by 5
num_list = []
for y in range(100):
  if y % 2 == 0 and y % 5 == 0:
    num_list.append(y)

print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
from collections import Counter
word = "Sharon Cherotich"
vowels = "aeiou"

# find vowel in the string "Python"
result = [y for y in word if y in vowels]
distinct = [*Counter(result)]

print(result)
#print(*Counter(result))
print(len(distinct))

In [13]:
multiplication = []

for i in range(2, 5):
    row = []
    for j in range(1, 6):
        row.append(i * j)
    multiplication.append(row)

print(multiplication)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [14]:
multiplication = [[i * j for j in range(1, 6)] for i in range(2, 5)]

print(multiplication)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [12]:
import timeit
old_price = {
    "milk": 40,
    "honey": 535,
    "bread": 60,
    "tea" : 100,
    "coffee": 150
}
new_price = {
    "milk": 50,
    "honey": 595,
    "bread": 69,
    "tea" : 120,
    "buns": 20
}
#price_change2 = {key: new_price[key] - old_price[key] if key in old_price and key in new_price else key:"old list item only" if key in old_price else key:"new list item only" if key in new_price for key in set(old_price) | set(new_price)}

price_change2 = {key: (new_price[key] - old_price[key]) if (key in old_price and key in new_price) 
                 else ("old list item only" if key in old_price else "new list item only") 
                 for key in set(old_price) | set(new_price)}

# Order the price changes based on the order of items in old_price
ordered_price_changes = [(item, price_change2[item]) for item in old_price | new_price]

filtered_old_items_only = {key: value for key, value in price_change2.items() if value == 'old list item only'}
filtered_new_items_only = {key: value for key, value in price_change2.items() if value == 'new list item only'}


#filtered_price_change2 = {key: value for key, value in price_change2.items() if value != "item not in old list"}

#filtered_noprice_change2 = {key: value for key, value in price_change2.items() if value == "item not in old list"}

print(price_change2)
print(timeit.timeit(lambda :price_change2, number = 1))
print(" ")
print(ordered_price_changes)
print(" ")
print(filtered_old_items_only)
print(" ")
print(filtered_new_items_only)

{'bread': 9, 'coffee': 'old list item only', 'milk': 10, 'tea': 20, 'buns': 'new list item only', 'honey': 60}
6.600050255656242e-06

[('milk', 10), ('honey', 60), ('bread', 9), ('tea', 20), ('coffee', 'old list item only'), ('buns', 'new list item only')]

{'coffee': 'old list item only'}

{'buns': 'new list item only'}

In [35]:
import timeit
numbers = range(100)
cubed = [num**3 for num in numbers]
print(cubed)
print(timeit.timeit(lambda :cubed, number=10000))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]
0.0021917999256402254

In [36]:
def cube(args):
  cubed = []
  for num in numbers:
       num = num**3
       cubed.append(num)
  return cubed

numbers = range(100)
print(cube(numbers))
print(timeit.timeit(lambda : cube(numbers), number =10000))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]
0.2891881000250578

In [37]:
def cube2(args):
  cubed = [num**3 for num in numbers]
  return cubed

numbers = range(100)
print(cube2(numbers))
print(timeit.timeit(lambda : cube2(numbers), number =10000))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]
0.1428234000923112

In [35]:
numbers = [5,6,7,9,3,9]
print(cubed)

[27, 64, 125, 216, 343]

In [37]:
add = sum([number * number for number in range(1000)])
add

332833500

In [9]:
import random
import timeit
TAX_RATE = .08
PRICES = [random.randrange(100) for _ in range(100_000)]
def get_prices_with_map():
     return list(map(get_price, PRICES))

In [10]:
import random
import timeit
TAX_RATE = .08
PRICES = [random.randrange(100) for _ in range(100_000)]
def get_price(price):
     return price * (1 + TAX_RATE)

def get_prices_with_map():
     return list(map(get_price, PRICES))

def get_prices_with_comprehension():
     return [get_price(price) for price in PRICES]

def get_prices_with_loop():
     prices = []
     for price in PRICES:
         prices.append(get_price(price))
     return prices


print(timeit.timeit(get_prices_with_map, number=1))


print(timeit.timeit(get_prices_with_comprehension, number=1))

print(timeit.timeit(get_prices_with_loop, number=1))

0.0498021999374032
0.053602100000716746
0.07684620004147291

In [41]:
def is_odd(num):
    return num % 2 != 0

numbers = [1, 2, 3, 4, 5]
result = [is_odd(num) for num in numbers]

result

[True, False, True, False, True]

In [39]:
def is_even(num):
    return num % 2 == 0

def double_if_even(num):
    return num * 2 if is_even(num) else num

numbers = [1, 2, 3, 4, 5]
result = [double_if_even(num) for num in numbers]

result

[1, 4, 3, 8, 5]

In [43]:
numbers = [1, 2, 0, 4, 0, 6]
reciprocals = [1/num for num in numbers]

print(reciprocals)

ZeroDivisionError: division by zero

In [42]:
def calculate_reciprocal(num):
    try:
        reciprocal = 1 / num
        return reciprocal
    except ZeroDivisionError:
        return None  # Return None for zero values

numbers = [1, 2, 0, 4, 0, 6]

reciprocals = [calculate_reciprocal(num) for num in numbers]

print(reciprocals)

[1.0, 0.5, None, 0.25, None, 0.16666666666666666]