Merge data

join data/concat

pivot

Replace missing value with mean or median or mode

Round off/truncate ==

Date datatypes

plot common graphs ==

linear regression

KNN

In [141]:
import pandas as pd

In [142]:
data = data = pd.read_excel(r"C:\Users\Sharon\Downloads\biopics2.xlsx")
data.shape

(761, 14)

In [143]:
data['subject_race'].mode()

0    White
Name: subject_race, dtype: object

In [144]:
data['subject_race'].value_counts()

subject_race
White                        428
African American              35
Multi racial                  24
Hispanic (Latin American)     13
Middle Eastern (White)        13
Middle Eastern                11
African                        9
Hispanic (Latino)              6
Hispanic (White)               6
Asian                          5
Native American                4
Asian American                 3
Indian                         2
Caribbean                      2
Mediterranean                  1
Eurasian                       1
Hispanic (Latina)              1
Name: count, dtype: int64

In [145]:
data['lead_actor_actress'] = data['lead_actor_actress'].fillna("unknown")

In [146]:
data['subject_race'].value_counts()

subject_race
White                        428
African American              35
Multi racial                  24
Hispanic (Latin American)     13
Middle Eastern (White)        13
Middle Eastern                11
African                        9
Hispanic (Latino)              6
Hispanic (White)               6
Asian                          5
Native American                4
Asian American                 3
Indian                         2
Caribbean                      2
Mediterranean                  1
Eurasian                       1
Hispanic (Latina)              1
Name: count, dtype: int64

In [147]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761 entries, 0 to 760
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               761 non-null    object
 1   site                761 non-null    object
 2   country             761 non-null    object
 3   year_release        761 non-null    int64
 4   box_office          761 non-null    object
 5   director            761 non-null    object
 6   number_of_subjects  761 non-null    int64
 7   subject             761 non-null    object
 8   type_of_subject     761 non-null    object
 9   race_known          761 non-null    object
 10  subject_race        564 non-null    object
 11  person_of_color     761 non-null    int64
 12  subject_sex         761 non-null    object
 13  lead_actor_actress  761 non-null    object
dtypes: int64(3), object(11)
memory usage: 83.4+ KB

In [148]:
data['subject_race'].isnull().value_counts()

subject_race
False    564
True     197
Name: count, dtype: int64

In [149]:
data.isnull().sum()

title                   0
site                    0
country                 0
year_release            0
box_office              0
director                0
number_of_subjects      0
subject                 0
type_of_subject         0
race_known              0
subject_race          197
person_of_color         0
subject_sex             0
lead_actor_actress      0
dtype: int64

In [150]:
data['subject_race'] = data['subject_race'].fillna(data['subject_race'].mode())

In [151]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761 entries, 0 to 760
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               761 non-null    object
 1   site                761 non-null    object
 2   country             761 non-null    object
 3   year_release        761 non-null    int64
 4   box_office          761 non-null    object
 5   director            761 non-null    object
 6   number_of_subjects  761 non-null    int64
 7   subject             761 non-null    object
 8   type_of_subject     761 non-null    object
 9   race_known          761 non-null    object
 10  subject_race        565 non-null    object
 11  person_of_color     761 non-null    int64
 12  subject_sex         761 non-null    object
 13  lead_actor_actress  761 non-null    object
dtypes: int64(3), object(11)
memory usage: 83.4+ KB

In [152]:
data.isnull().sum()

title                   0
site                    0
country                 0
year_release            0
box_office              0
director                0
number_of_subjects      0
subject                 0
type_of_subject         0
race_known              0
subject_race          196
person_of_color         0
subject_sex             0
lead_actor_actress      0
dtype: int64

In [153]:
data2=data[data['subject_race'].isnull()]

In [154]:
data.shape

(761, 14)

In [155]:
data2.head()

,title,site,country,year_release,box_office,director,number_of_subjects,subject,type_of_subject,race_known,subject_race,person_of_color,subject_sex,lead_actor_actress
2,127 Hours,http://www.imdb.com/title/tt1542344/,US/UK,2010,$18.3M,Danny Boyle,1,Aron Ralston,Athlete,Unknown,NaN,0,Male,James Franco
4,20 Dates,http://www.imdb.com/title/tt0138987/,US,1998,$537K,Myles Berkowitz,1,Myles Berkowitz,Other,Unknown,NaN,0,Male,Myles Berkowitz
8,8 Seconds,http://www.imdb.com/title/tt0109021/,US,1994,$19.6M,John G. Avildsen,1,Lane Frost,Athlete,Unknown,NaN,0,Male,Luke Perry
9,84 Charing Cross Road,http://www.imdb.com/title/tt0090570/,US/UK,1987,$1.08M,David Hugh Jones,2,Frank Doel,Author,Unknown,NaN,0,Male,Anthony Hopkins
10,84 Charing Cross Road,http://www.imdb.com/title/tt0090570/,US/UK,1987,$1.08M,David Hugh Jones,2,Helene Hanff,Author,Unknown,NaN,0,Female,Anne Bancroft

In [156]:
data['subject_race'] = data['subject_race'].fillna('white')

In [157]:
data

,title,site,country,year_release,box_office,director,number_of_subjects,subject,type_of_subject,race_known,subject_race,person_of_color,subject_sex,lead_actor_actress
0,10 Rillington Place,http://www.imdb.com/title/tt0066730/,UK,1971,-,Richard Fleischer,1,John Christie,Criminal,Unknown,White,0,Male,Richard Attenborough
1,12 Years a Slave,http://www.imdb.com/title/tt2024544/,US/UK,2013,$56.7M,Steve McQueen,1,Solomon Northup,Other,Known,African American,1,Male,Chiwetel Ejiofor
2,127 Hours,http://www.imdb.com/title/tt1542344/,US/UK,2010,$18.3M,Danny Boyle,1,Aron Ralston,Athlete,Unknown,white,0,Male,James Franco
3,1987,http://www.imdb.com/title/tt2833074/,Canada,2014,-,Ricardo Trogi,1,Ricardo Trogi,Other,Known,White,0,Male,Jean-Carl Boucher
4,20 Dates,http://www.imdb.com/title/tt0138987/,US,1998,$537K,Myles Berkowitz,1,Myles Berkowitz,Other,Unknown,white,0,Male,Myles Berkowitz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
756,Young Man with a Horn,http://www.imdb.com/title/tt0043153/,US,1950,-,Michael Curtiz,1,Bix Beiderbecke,Musician,Known,White,0,Male,Kirk Douglas
757,Young Mr. Lincoln,http://www.imdb.com/title/tt0032155/,US,1939,-,John Ford,1,Abraham Lincoln,World leader,Known,White,0,Male,Henry Fonda
758,Young Tom Edison,http://www.imdb.com/title/tt0033289/,US,1940,-,Norman Taurog,1,Thomas Edison,Other,Known,White,0,Male,Mickey Rooney
759,Young Winston,http://www.imdb.com/title/tt0069528/,US,1972,-,Richard Attenborough,1,Winston Churchill,World leader,Known,White,0,Male,Simon Ward
760,Your Cheatin' Heart,http://www.imdb.com/title/tt0058765/,US,1964,-,Gene Nelson,1,Hank Williams,Musician,Unknown,white,0,Male,George Hamilton

In [158]:
data.isnull().sum()

title                 0
site                  0
country               0
year_release          0
box_office            0
director              0
number_of_subjects    0
subject               0
type_of_subject       0
race_known            0
subject_race          0
person_of_color       0
subject_sex           0
lead_actor_actress    0
dtype: int64